/*******************************
       Base Element Styles
********************************/
body, html {
   max-width: 100%;
   max-height: 100%;
   margin: 0;
   padding: 0;
   line-height: 1.4;
   font-family: 'Helvetica Nueu', 'Open Sans', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
   text-decoration: none;
   color: white;
}

p, small, h1 {
   font-family: "Open Sans";
}

/*******************************
       Base Layout Styles
********************************/

.banner {
   background: url('../images/dough2.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.contact-container {
   margin-top: 45px;
}

.contact-banner h1 {
   text-align: center;
   text-shadow: 2px 2px 3px #333;
   color: #fff;
}

.content-wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   margin: 0 auto
}

form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto 30px auto;
   border: 1px solid #333;
}

input, textarea {
   border: 1px solid #333;
   background-color: #fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  letter-spacing: 0.5px;
   font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
   letter-spacing: 0.5px;
   font-style: italic;

}
:-ms-input-placeholder { /* IE 10+ */
   letter-spacing: 0.5px;
   font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
   letter-spacing: 0.5px;
   font-style: italic;
}

textarea {
   resize: none;
}

.content-wrapper p {
   margin: 0;
}

.NE-container {
   margin: 0 auto;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#name {
   width: 50%;
}

#email {
   width: 50%;
}

#submit:hover {
 color: white;
 background-color: rgba(104, 150, 137, .8);

}

small {
   font-style: italic;
   margin: 0;
}

#map {
   display: flex;
   justify-content: center;
   margin: 0 auto;
   width: 100%;
   background-color: grey;
}


/***************************
       MEDIA QUERIES
***************************/

@media only screen and (min-width: 320px) {

   .contact-banner h1 {
      font-size: 3em;
      letter-spacing: 2px;
      /*margin: 0 0 40px 0;*/
   }

   .email-us-container {
      margin: 25px;
   }

   .email-us-container p {
      font-weight: bold;
   }

   form {
      width: 80%;
   }

   input, textarea {
      padding: 5px 0 5px 10px;
   }

   .call-container {
      width: 85%;
      margin: 0 auto;
   }

   .call-container h3 {
      border-top: 1px solid #878787;
      margin: 20px 0 0;
      padding-top:15px;
   }

   .call-container p {
      font-size: 20px;
      letter-spacing: 0.5px;
      font-weight: bold;
      color: #878787;
   }

   #map {
      height: 250px;
   }

   footer {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
   }


   #scroll-to-top {
      background: url('../images/scroll.png') no-repeat center center;
      width: 32px;
      height: 30px;
      position: fixed;
      right: 30px;
      bottom: 30px;
      cursor: pointer;
      font-size: 0;
      display: none;
   }

}

@media (min-width: 480px){

   .contact-banner h1 {
      font-size: 3.5em;
      margin: 20px auto 0 auto;
      text-align: center;
   }

   form {
      width: 360px;
   }

   #scroll-to-top {
      width: 35px;
      height: 35px;
   }
}

@media (min-width: 720px){

   .contact-banner h1 {
      font-size: 5em;
      letter-spacing: 2.8px;
   }

   #map {
      height: 350px;
   }

   footer {
      position: static;
   }
}

@media (min-width: 1025px){

   .contact-banner h1 {
      font-size: 5.5em;
      letter-spacing: 3px;
   }
}
