/*******************************
       Base Element Styles
********************************/
body, html {
   max-height: 100vh;
   margin: 0 auto;
   padding: 0;
   line-height: 1.4;
   font-family: 'Helvetica Nueu', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
   text-decoration: none;
   color: white;
}


/*******************************
       Base Layout Styles
********************************/

.banner {
   background: url('../images/dough.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.contact-container {
   margin-top: 45px;
}

.contact-banner h1 {
   text-align: center;
   text-shadow: 2px 2px 3px #333;
   color: #fff;
}

.content-wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   margin: 0 auto
}

form {
   width: 345px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
   border: 1px solid #000;
}

input, textarea {
   border: 1px solid #000;
   background-color: #fff;
}

textarea {
   resize: none;
}

.content-wrapper p {
   margin: 0;
}

.NE-container {
   margin: 0 auto;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#name {
   width: 50%;
}

#email {
   width: 50%;
}

small {
   font-style: italic;
   margin: 0;
}

/***************************
       MEDIA QUERIES
***************************/

@media only screen and (min-width: 320px) {

   .contact-banner h1 {
      font-size: 3em;
      letter-spacing: 2px;
      /*margin: 0 0 40px 0;*/
   }

   .email-us-container {
      margin: 25px;
   }

   .email-us-container p {
      font-weight: bold;
   }

   input, textarea {
      padding: 5px 0 5px 10px;
      font-style: italic;
   }

   .call-container {
      width: 85%;
      margin: 0 auto;
   }

   .call-container h3 {
      border-top: 1px solid #878787;
      margin: 20px 0 0;
      padding-top:15px;
   }

   .call-container p {
      font-size: 18px;
      font-weight: bold;
      color: #878787;
   }

}

@media (min-width: 480px){

   .contact-banner h1 {
      font-size: 3.5em;
      margin: 20px auto 0 auto;
      text-align: center;
   }
}

@media (min-width: 720px){

   .contact-banner h1 {
      font-size: 5em;
      letter-spacing: 2.8px;
   }
}

@media (min-width: 1025px){

   .contact-banner h1 {
      font-size: 5.5em;
      letter-spacing: 3px;
   }
}
