
/*******************************
Base Element Styles
********************************/

body {
   max-height: 100%;
   margin: 0 auto;
   padding: 0;
   line-height: 1.4;
   font-family: 'Helvetica Nueu', 'Open Sans', sans-serif;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
   color: white;
}

/*******************************
Base Layout Styles
********************************/

header {
   width: 100%;
   background-color: rgba(0,0,0,0.2);
   z-index: 20;
}

main {
   background-attachment: fixed;
   margin: 0;
}

.main-nav, nav {
   margin: 0 5%;
   letter-spacing: 1.2px;
}

.main-nav a, nav a {
   text-align: center;
   display: block;
   padding: 10px 14px;
   color: white;
   text-transform: uppercase;
   font-family: "Open Sans";
}

.main-nav a:hover, nav a:hover {
   font-weight: bold;
   letter-spacing: 2.2px;
}

.icons {
   margin: 0 5%;
}

.icons a {
   display: block;
}

.icons img:hover {
   opacity: .7;
}

footer {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: #333;
   position: inherit;
   color: white;
}

.footer {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

footer p {
   margin: 10px auto 0 auto;
   line-height: normal;
}

.icon-footer {
   display: inline-block;
}

.info {
   display: inline-block;
   width: 40%;
   margin: 20px 0 20px auto;
   border-right: 1px solid white;
}

.info p {
   margin-right: 20%;
}

.icons-footer-container {
   margin: 0 auto;
}

.icon-footer li {
   display: inline-block;
}

.icon-footer li a {
   text-align: center;
}

/***************************
MEDIA QUERIES
***************************/

@media only screen and (min-width: 320px) {

   /*.menu-toggle.active .hamburger {
   background-color: rgba(0,0,0,0);
}

.menu-toggle.active .hamburger:before {
top: 2%;
transform: rotate(45deg);
}

.menu-toggle.active .hamburger:after {
bottom: 6%;
transform: rotate(135deg);
}*/

.main-nav, .nav-dot {
   display: none;
}


.overlay a {
   display: block;
}

.menu-toggle {
   padding: 1em 0.8em;
   position: absolute;
   cursor: pointer;
   z-index: 100;
   margin-top: 15px;
   margin-left: 8px;
   background-color: rgba(0, 0, 0, 0.2);
   border-radius: 4px;
}

.hamburger, .hamburger::before,
.hamburger::after {
   content: '';
   display: block;
   background: #FFF;
   height: 3px;
   width: 1.4em;
   border-radius: 3px;
   /*position: absolute;*/
   -webkit-transition: .5s;
   -o-transition: .5s;
   transition: .5s;
}

.hamburger::before {
   -webkit-transform: translateY(-8px);
   -ms-transform: translateY(-8px);
   transform: translateY(-8px);
}

.hamburger::after {
   -webkit-transform: translateY(5px);
   -ms-transform: translateY(5px);
   transform: translateY(5px);
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 0%;
   height: 54%;
   background-color: #333;
   overflow-x: hidden;
   z-index: 1000;
   -webkit-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;
}

.mobile {
   position: relative;
   top: 0;
   width: 100%;
   text-align: center;
   margin: 0 auto;
}

.mobile-header {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   text-align: center;
}

a.closeBtn {
   font-size: 36px;
   color: #fff;
}

.closeBtn {
   margin: 8px 0 25px 25px;
   font-size: 20px;
}

nav a {
   color: #fff;
}

.icons {
   display: none;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.banner {
   background-position: 30% 110%;
   height: 240px;
}

.info {
   font-size: 0.82em;
}

.number {
   font-size: 1.25em;
   letter-spacing: 1.6;
}

.icons-footer-container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.icons-footer-container img {
   width: 45px;
   margin: 0 5px;
}
}

@media (min-width: 480px){

   .menu-toggle {
      margin-top: 25px;
      margin-left: 18px;
   }

   .closeBtn {
      margin: 14px 0 25px 25px;
      font-size: 20px;
   }

   .icons-footer-container img {
      width: 45px;
   }

   .banner {
      height: 340px;
   }

}

@media (min-width: 720px){

   .menu-toggle, .mobile, .overlay, .mobile-header {
      display: none;
   }

   header, .main-nav, .icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
   }

   header {
      background-color: rgba(0,0,0,0.2);
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      position: absolute;
   }

   .main-nav a {
      padding: 10px 4px;
      font-size: 1.2em;
      text-shadow: 2px 2px 3px #333;
   }

   #item-4 {
      padding-top: 17px;
      padding-bottom: 4%;
   }

   .nav-dot {
      display:inline;
      padding-left: 10px;
      vertical-align: super;
      text-align: center;
   }

   .icons img {
      width: 25px;
   }

   .icons a {
      padding: 15px 12px;
   }

   #nav {
      display: none;
   }

   .banner {
      height: 400px;
   }

   .info {
      font-size: 1em;
   }

   .number {
      font-size: 1.4em;
      letter-spacing: 1.6;
   }

   .icons-footer-container img {
      width: 50px;
   }


}

@media (min-width: 1025px){

   #item-4 {
      padding-top: 17px;
      padding-bottom: 4%;
   }

   .icons img {
      width: 30px;
   }

   .banner {
      height: 500px;
   }

   .info {
      font-size: 1.05em;
   }

   .number {
      font-size: 1.4em;
      letter-spacing: 1.6;
   }

   .icons-footer-container img {
      width: 55px;
   }

}
