/*******************************
       Base Element Styles
********************************/

body {
   margin: 0 auto;
   padding: 0;
   line-height: 1.4;
   font-family: 'Helvetica Nueu', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
   text-decoration: none;
   color: white;
}

/*******************************
       Base Layout Styles
********************************/

.hidden {
  display: none;
}

header {
   width: 100%;
   background-color: rgba(0,0,0,0.2);
   z-index: 20;
}

.main-nav {
   margin: 0 5%;
   letter-spacing: 1.2px;
}

.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 14px;
   color: white;
   text-transform: uppercase;
}

.main-nav a:hover {
	font-weight: bold;
}

.icons {
   margin: 0 5%;
}

.icons a {
   display: block;
}

.icons img:hover {
   opacity: .7;
}

main {
   background-attachment: fixed;
   margin: 0;
}

.banner {
   background: url('../images/splash.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.banner-logo {
   margin: 0 auto;
}

.about {
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 70vw;
   margin: 0 auto;
}

.mid-container {
   display: flex;
   flex-direction: row;
}

.menu {
   background: url('../images/slider_asstd.jpg');

}

.specials {
   background: url('../images/slider_pasta2.jpg');

}

.contact {
   background: url('../images/splash-contact.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position:  center 55%;
   width: 100%;
   height: 110px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   color: white;
   text-shadow: 2px 2px 3px #333;
   letter-spacing: 1.4px;
}

.menu, .specials {
   background-repeat: no-repeat;
   background-size: cover;
   width: 50%;
   height: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   color: white;
   text-shadow: 2px 2px 3px #333;
   letter-spacing: 1.4px;
}

.menu:hover, .specials:hover, .contact:hover {
	opacity: 0.7;
}

.last {
   display: flex;
   flex-direction: row;
   align-items: center;
}

footer {
   /*margin-top: 2%;*/
   background-color: #333;
   position: inherit;
   padding: 20px;
}

footer p {
   margin: 0 auto;
}

/*footer {
   padding-right: 8%;
   margin-top: 100px;
}

footer, .icon-footer {
   background-color: #333;
   display: flex;
   justify-content: center;
   color: white;
   padding-left: 8%;
}*/

.info {
   width: 50%;
   border-right: 2px solid white;
   align-self: center;

}

.info p {
   margin-right: 20%;
}

.address {
   padding-top: 50px;

}

/*.icon-footer {
   width: 50%;
   height: 50%;
   margin-left: 10%;
   display: flex;
   align-self: center;
}


.icon-footer li {
   margin-right: 15px;
}*/


/***************************
       MEDIA QUERIES
***************************/

@media only screen and (min-width: 320px) {
   header {
      background-color: #333;
   }

   #item-1 {
      padding-top: 4%;
   }

   #item-4 {
      padding-bottom: 4%;
   }

   .main-nav a {
      padding: 6px 6px;
      font-size: 1em;
   }

   .nav-dot {
      display: none;
   }

   .icons {
      display: none;
      justify-content: center;
   }

   .banner {
      background-position: 30% 110%;
      height: 30vh;
   }

   .banner-logo {
      margin: 0 auto 8% auto;
      width: 200px;
      position: relative;
   }

   .about h1 {
      margin-top: 8%;
      margin-bottom: 0;
      font-size: 1.8em;
   }

   .about p {
      font-size: .95em;
      margin-bottom: 10%;
      margin-top: 2%;
   }

   .last {
      padding-top: 2%;
      padding-bottom: 2%;
      height: 20vh;
   }

   .yelp-logo {
      margin: 0 6%;
      width: 30%
   }
   .yelp-logo img {
      width: 38vw;
   }

   .yelp-description {
      margin: 0 6%;
   }

   .yelp-description h3 {
      font-size: 1.2em;
      letter-spacing: 1.4;
      margin-bottom: 0;
   }

   .yelp-description p {
      font-size: 0.85em;
      margin-top: 2%;
   }

   .red {
      color: #D40000;
   }

   /*.icon-footer img {
      width: 25px;
   }*/

   .info {
      font-size: 0.82em;
   }

   .number {
      font-size: 1.25em;
      letter-spacing: 1.6;
   }
}

@media (min-width: 480px){
   header, .main-nav, .icons {
      display: flex;
   }

   header {
      background-color: rgba(0,0,0,0.2);
      justify-content: space-between;
      flex-direction: row;
      position: fixed;
   }

   .main-nav a {
      padding: 10px 2px;
      font-size: .85em;
      text-shadow: 2px 2px 3px #333;
   }

   #item-1 {
      padding-top: 10px;
   }

   #item-4 {
      padding-top: 15px;
      padding-bottom: 4%;
   }

   .nav-dot {
      display:inline;
      padding-left: 4px;
      vertical-align: super;
      text-align: center;
   }

   .icons img {
      width: 20px;
   }

   .icons a {
      padding: 15px 10px;
   }

   .banner {
      height: 40vh;
   }

   .banner-logo {
      margin: 0 auto 2% auto;
      width: 300px;
   }

   .about {
      width: 80vw;
   }
   .about h1 {
      font-size: 1.8em;
   }

   .about p {
      font-size: .95em;
      line-height: 1.6;
      margin-top: 0;
   }

   .menu, .specials {
      height: 250px;
      font-size: 1.2em;
   }

   .contact {
      height: 150px;
      font-size: 1.2em;
   }

   /*.last {
      padding-top: 40px;
   }*/

   .yelp-logo img {
      width: 32vw;
   }

   .yelp-description p {
      margin-top: 4%;
   }

   /*.icon-footer img {
      width: 25px;
   }*/

}

@media (min-width: 720px){
   .main-nav a {
   	padding: 10px 4px;
   }

   #item-1 {
      padding-top: 10px;
   }

   #item-4 {
      padding-bottom: 4%;
   }

   .main-nav a {
      font-size: 1.05em;
   }

   .nav-dot {
      padding-left: 10px;
   }

   .icons img {
      width: 25px;
   }

   .banner {
      height: 50vh;
   }

   .banner-logo {
      height: 200px;
      width: 400px;
   }

   .about h1 {
      font-size: 2.2em;
      margin-top: 6%;
      margin-bottom: 2%;
   }

   .about p {
      font-size: 1.05em;
      line-height: 1.65;
   }

   .menu, .specials, .contact {
      font-size: 1.6em;
   }

   .contact {
      height: 200px;
   }

   /*.last {
      padding-top: 60px;
   }*/

   .yelp-description h3 {
      font-size: 2em;

   }
   .yelp-description p {
      margin-top: 4%;
      font-size: 1em;
   }

   /*.icon-footer img {
      width: 30px;
      margin-right: 20px;
   }*/

   .info {
      font-size: 1em;
   }

   .number {
      font-size: 1.4em;
      letter-spacing: 1.6;
   }


}

@media (min-width: 1025px){

   #item-4 {
      padding-top: 17px;
      padding-bottom: 4%;
   }

   .icons img {
      width: 30px;
   }

   .main-nav a {
      font-size: 1.4em;
   }

   .banner {
      height: 60vh;
   }

   .about h1 {
      font-size: 2.4em;
      margin-top: 6%;
      margin-bottom: 2%;
   }

   .about p {
      font-size: 1.125em;
      line-height: 1.8;
   }

   .menu, .specials, .contact {
      font-size: 1.8em;
   }

   .contact {
      height: 260px;
   }

   .last {
      padding-top: 4%;
      padding-bottom: 4%;
   }

   .yelp-description h3 {
      font-size: 2.5em;

   }
   .yelp-description p {
      font-size: 1.5em;
      flex-flow: wrap;
   }

   /*.icon-footer {
      margin-left: 8%;
   }

   .icon-footer img {
      width: 35px;
      margin-right: 40px;
   }*/

   .info {
      font-size: 1.05em;
   }

   .number {
      font-size: 1.4em;
      letter-spacing: 1.6;
   }

}
